@import "src/app/scss/constants";

.card__container {
  background: $bg-main-color;
  border: $border;
  border-radius: $border-radius;
  padding: $p-card;
}

.card__img_container {
  width: 30%;
}

.card__img {
  width: $card-img-dimmensions;
  height: $card-img-dimmensions
}

.mg-bottom {
  margin-bottom: $mb-card-elem;
}

.card__label {
  color: #aeacac;
  font-size: $fs-link;
}

.card__button {
  margin: $m-h-center;
}
