.card__container {
  background: #fff;
  border: 1px solid #EAE9F2;
  border-radius: 0.625rem;
  padding: 1rem;
}

.card__img_container {
  width: 30%;
}

.card__img {
  width: 60px;
  height: 60px
}

.mg-bottom {
  margin-bottom: 1.5rem;
}

.card__label {
  color: #aeacac;
  font-size: 1rem;
}

.card__button {
  margin: 0 auto;
}
