.header-container {
  background: #f2f2f2;
  height: 250px;
}

.header-btn-container {
  margin: 0 auto;
}

.header-content {
  margin: auto;
}

.section-content {
  margin: auto;
  max-width: 93.75rem;
}

.section-calendar {
  margin: auto;
}

.button {
  margin-left: 1rem;
}
