  <div>
    <app-adjustable-header [headerContent]="headerContent"></app-adjustable-header>
    <div class="vet-content test">
      <app-schedule-setter *ngFor="let day of weekDaysList" [day]="day" (checkEmitter)="getAndSetDay($event)" [doctorSchedule]="storedDoctor.schedule"></app-schedule-setter>
      <div class="schedule-btn-container">
        <button class="schedule-btn btn button--active" [disabled]="isSaveButtonDisabled" (click)="saveSchedule()">{{scheduleBtnText}}</button>
      </div>
    </div>
  </div>
