<!-- <div class="container-fluid">
  <form [formGroup]="sampleForm">
    <input ngbDatepicker (click)="datePicker.toggle()" #datePicker="ngbDatepicker" formControlName="startDate" placeholder="yyyy-mm-dd">
    <ngb-timepicker formControlName="startTime" meridian="meridian" [spinners]="false"></ngb-timepicker>
  </form>
</div> -->
<div class="container">
  <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="medic">Medic</label>
      <input
        type="text"
        id="medic"
        class="form-control"
        formControlName="medicName"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="date">Data</label>
      <input
        ngbDatepicker
        (click)="datePicker.toggle()"
        #datePicker="ngbDatepicker"
        formControlName="startDate"
        placeholder="yyyy-mm-dd"
        id="date"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="time">Ora</label>
      <ngb-timepicker
        formControlName="startTime"
        meridian=""
        [spinners]="true"
        id="time"
        [minuteStep]="15"
      ></ngb-timepicker>
    </div>
    <div class="form-group">
      <label for="pacient">Pacient</label>
      <input type="text" id="pacient" class="form-control" />
    </div>
    <div class="form-group">
      <label for="services">Servicii</label>
      <select
        name="services"
        id="services"
        class="form-control"
        formControlName="medService"
      >
        <option value="" selected hidden>Aelege un serviciu</option>
        <option
          *ngFor="let medicService of medicServices"
          [value]="medicService"
        >
          {{ medicService }}
        </option>
      </select>
    </div>
    <button class="btn btn-light" type="submit">Cancel</button>
    <button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>
