//start colors
.bg-main {
  background: $bg-main-color;
}

.bg-alternative {
  background: $bg-alternate-color;
}

.error-msg {
  color: $error-color;
  font-size: $fs-link;
}

//end colors

//start input
.input-checkbox:hover {
  cursor: pointer;
}

//end input

//start anchor
.highlighted-link {
  color: cornflowerblue;
}

.highlighted-link:hover {
  text-decoration: underline $border-color;
}

//end anchor

//start border
.border-with-radius {
  border: $border;
  border-radius: $border-radius;
}

.vet-border {
  border: $border;
}

.vet-border-right {
  border-right: $border;
}

//end border

//start text
.section-title {
  font-size: $fs-section-title;
  font-weight: $bold-subtitle;
  margin-bottom: $mb-section-title;
}

.bold-text {
  font-size: $fs-small-subtitle;
  font-weight: $bold-subtitle;
}

.section-subtitle {
  font-size: $fs-small-subtitle;
  margin-bottom: $mb-section-small-subtitle;
}

.list-style-type-none {
  list-style-type: none;
}

span[class^="icon"] {
  font-size: $fs-text;
}

span[class^="icon"]:hover {
  cursor: pointer;
}

//end text

//start display
.hide {
  display: none;
}

//end display
