.vet-content {
  width: $content-width;
  margin: 0 auto;
}

.vet-container {
  padding: $p-section
}

.m-subtitle-bottom {
  margin-bottom: $mb-section-small-subtitle;
}

.m-btn-card-row {
  margin-bottom: $mb-section-header;
}
