<div class="p-container">
  <app-navbar></app-navbar>
  <div class="header-container d-flex col-flex-col-center">
    <div class="header-content">
      <div class="header-text mb-5">
        <app-header-title
          [title]="headerTitle"
          [subTitle]="headerSubTitle"
        ></app-header-title>
      </div>
      <div>
        <div class="header-btn-container d-flex justify-content-center">
          <button type="button" class="btn btn-dark">See projects</button>
        </div>
      </div>
    </div>
  </div>
</div>
