@import "src/app/scss/constants";

.header-container {
  background: #f2f2f2;
  height: 800px;
  //50 rem
}

.header-btn-container {
  margin: $m-h-center;
}

.header-content {
  height: 150px;
  margin: auto;
  //9.375rem
}

