@import "src/app/scss/constants";

html, body {
  height: $full-size;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: $text-color;
  line-height: $lh-text;
}

.bg-main {
  background: $bg-main-color;
}
p {
  font-size: $fs-text;
}
.bg-alternative {
  background: $bg-alternate-color;
}

.border-with-radius {
  border: $border;
  border-radius: $border-radius;
}

button {
  line-height: $lh-btn;
}

.vet-content {
  width: $content-width;
  margin: 0 auto;
}
//create generic components?
.section-title {
  font-size: $fs-section-title;
  font-weight: $bold-subtitle;
  margin-bottom: $mb-section-title;
}

.section-subtitle {
  font-size: $fs-small-subtitle;
  margin-bottom: $mb-section-small-subtitle;
}

