@import "src/app/scss/constants";
@import "src/app/scss/skin.scss";
@import "src/app/scss/structure";

html, body {
  height: $full-size;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: $text-color;
  line-height: $lh-text;
}

p {
  font-size: $fs-text;
}

button {
  line-height: $lh-btn;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
